.DS_Store
Thumbs.db

# Python tarafı
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.env

*.db
*.sqlite3

# .pt model dosyalarının GitHub'a yüklenmesine izin veriyoruz
# *.pt (Silindi)
# weights/ (Silindi)

# Ancak dönüştürülmüş modeller her bilgisayarda farklı olacağı için onları engelliyoruz
*.engine
*.onnx

*.log

# .NET tarafı
bin/
obj/

.vs/
*.user
*.suo
*.userprefs

